# Importing Data from Meteostat

[Weather Condition Codes](https://dev.meteostat.net/formats.html#weather-condition-codes)

In [2]:
import requests
import time
import pandas as pd
from datetime import date, timedelta, datetime
from meteostat import Hourly

In [3]:
# # Set time period
# start = datetime(2023, 3, 6)
# end = datetime(2023, 6, 2, 23, 59)

# # Get hourly data
# data = Hourly('72219', start, end)
# data = data.fetch()

Warning: Cannot load hourly/2024/72219.csv.gz from https://bulk.meteostat.net/v2/

In [4]:
# # Set time period
# start = datetime(2023, 3, 1)
# end = datetime(2023, 6, 2, 23, 59)

# # Get hourly data
# data = Hourly('72306', start, end)
# data = data.fetch()

# # Print DataFrame
# print(data)

                     temp  dwpt  rhum  prcp  snow   wdir  wspd  wpgt    pres  \
time
2023-03-01 00:00:00  20.0   4.9  37.0   0.0   NaN  190.0   5.4   NaN  1010.4
2023-03-01 01:00:00  16.7   5.6  48.0   0.0   NaN    0.0   0.0   NaN  1011.9
2023-03-01 02:00:00  13.3   5.7  60.0   0.0   NaN    0.0   0.0   NaN  1012.5
2023-03-01 03:00:00  12.2   4.9  61.0   0.0   NaN   50.0   7.6   NaN  1012.8
2023-03-01 04:00:00  15.0   4.4  49.0   0.0   NaN   70.0  16.6   NaN  1013.4
...                   ...   ...   ...   ...   ...    ...   ...   ...     ...
2023-06-02 19:00:00  27.2  16.8  53.0   0.0   NaN   50.0  14.8   NaN  1011.5
2023-06-02 20:00:00  27.8  17.3  53.0   0.0   NaN   30.0  13.0   NaN  1011.2
2023-06-02 21:00:00  28.3  17.2  51.0   0.0   NaN   60.0  13.0   NaN  1011.0
2023-06-02 22:00:00  28.0  16.9  51.0   0.0   NaN   60.0  11.0   NaN  1012.0
2023-06-02 23:00:00  26.1  17.2  58.0   0.0   NaN   40.0   7.6   NaN  1010.7

                     tsun  coco
time
2023-03-01 00:00:00   NaN   2.0
2023-03-01 01:00:00   NaN   2.0
2023-03-01 02:00:00   NaN   2.0
2023-03-01 03:00:00   NaN   2.0
2023-03-01 04:00:00   NaN   2.0
...                   ...   ...
2023-06-02 19:00:00   NaN   2.0
2023-06-02 20:00:00   NaN   2.0
2023-06-02 21:00:00   NaN   2.0
2023-06-02 22:00:00   NaN   2.0
2023-06-02 23:00:00   NaN   2.0

[2256 rows x 11 columns]

Warning: Cannot load hourly/2024/72306.csv.gz from https://bulk.meteostat.net/v2/

In [5]:
# local_copy = data
# local_copy

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2023-03-01 00:00:00,20.0,4.9,37.0,0.0,NaN,190.0,5.4,NaN,1010.4,NaN,2.0
2023-03-01 01:00:00,16.7,5.6,48.0,0.0,NaN,0.0,0.0,NaN,1011.9,NaN,2.0
2023-03-01 02:00:00,13.3,5.7,60.0,0.0,NaN,0.0,0.0,NaN,1012.5,NaN,2.0
2023-03-01 03:00:00,12.2,4.9,61.0,0.0,NaN,50.0,7.6,NaN,1012.8,NaN,2.0
2023-03-01 04:00:00,15.0,4.4,49.0,0.0,NaN,70.0,16.6,NaN,1013.4,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-02 19:00:00,27.2,16.8,53.0,0.0,NaN,50.0,14.8,NaN,1011.5,NaN,2.0
2023-06-02 20:00:00,27.8,17.3,53.0,0.0,NaN,30.0,13.0,NaN,1011.2,NaN,2.0
2023-06-02 21:00:00,28.3,17.2,51.0,0.0,NaN,60.0,13.0,NaN,1011.0,NaN,2.0
2023-06-02 22:00:00,28.0,16.9,51.0,0.0,NaN,60.0,11.0,NaN,1012.0,NaN,2.0
2023-06-02 23:00:00,26.1,17.2,58.0,0.0,NaN,40.0,7.6,NaN,1010.7,NaN,2.0

In [6]:
# local_copy.to_parquet('cassi_weather_data.parquet.gzip', compression='gzip')

In [9]:
local_copy = pd.read_parquet('../data/cassi_weather_data.parquet.gzip')
local_copy

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2023-03-01 00:00:00,20.0,4.9,37.0,0.0,NaN,190.0,5.4,NaN,1010.4,NaN,2.0
2023-03-01 01:00:00,16.7,5.6,48.0,0.0,NaN,0.0,0.0,NaN,1011.9,NaN,2.0
2023-03-01 02:00:00,13.3,5.7,60.0,0.0,NaN,0.0,0.0,NaN,1012.5,NaN,2.0
2023-03-01 03:00:00,12.2,4.9,61.0,0.0,NaN,50.0,7.6,NaN,1012.8,NaN,2.0
2023-03-01 04:00:00,15.0,4.4,49.0,0.0,NaN,70.0,16.6,NaN,1013.4,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-02 19:00:00,27.2,16.8,53.0,0.0,NaN,50.0,14.8,NaN,1011.5,NaN,2.0
2023-06-02 20:00:00,27.8,17.3,53.0,0.0,NaN,30.0,13.0,NaN,1011.2,NaN,2.0
2023-06-02 21:00:00,28.3,17.2,51.0,0.0,NaN,60.0,13.0,NaN,1011.0,NaN,2.0
2023-06-02 22:00:00,28.0,16.9,51.0,0.0,NaN,60.0,11.0,NaN,1012.0,NaN,2.0
2023-06-02 23:00:00,26.1,17.2,58.0,0.0,NaN,40.0,7.6,NaN,1010.7,NaN,2.0

In [17]:
local_copy.coco = local_copy.coco.astype("int8").astype("category")
local_copy.coco

time
2023-03-01 00:00:00    2
2023-03-01 01:00:00    2
2023-03-01 02:00:00    2
2023-03-01 03:00:00    2
2023-03-01 04:00:00    2
                      ..
2023-06-02 19:00:00    2
2023-06-02 20:00:00    2
2023-06-02 21:00:00    2
2023-06-02 22:00:00    2
2023-06-02 23:00:00    2
Name: coco, Length: 2256, dtype: category
Categories (10, int64): [1, 2, 3, 4, ..., 8, 9, 18, 25]

In [23]:
local_copy.coco.cat.categories

Int64Index([1, 2, 3, 4, 5, 7, 8, 9, 18, 25], dtype='int64')

In [26]:
local_copy.coco = local_copy.coco.replace({
1:"Clear",
2:"Fair",
3:"Cloudy",
4:"Overcast",
5:"Fog",
6:"Freezing Fog",
7:"Light Rain",
8:"Rain",
9:"Heavy Rain",
10:"Freezing Rain",
11:"Heavy Freezing Rain",
12:"Sleet",
13:"Heavy Sleet",
14:"Light Snowfall",
15:"Snowfall",
16:"Heavy Snowfall",
17:"Rain Shower",
18:"Heavy Rain Shower",
19:"Sleet Shower",
20:"Heavy Sleet Shower",
21:"Snow Shower",
22:"Heavy Snow Shower",
23:"Lightning",
24:"Hail",
25:"Thunderstorm",
26:"Heavy Thunderstorm",
27:"Storm"
})
local_copy.coco

time
2023-03-01 00:00:00    Fair
2023-03-01 01:00:00    Fair
2023-03-01 02:00:00    Fair
2023-03-01 03:00:00    Fair
2023-03-01 04:00:00    Fair
                       ...
2023-06-02 19:00:00    Fair
2023-06-02 20:00:00    Fair
2023-06-02 21:00:00    Fair
2023-06-02 22:00:00    Fair
2023-06-02 23:00:00    Fair
Name: coco, Length: 2256, dtype: category
Categories (10, object): ['Clear', 'Fair', 'Cloudy', 'Overcast', ..., 'Rain', 'Heavy Rain', 'Heavy Rain Shower', 'Thunderstorm']

In [32]:
local_copy.drop(columns=['snow', 'wpgt', 'tsun'])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2256 entries, 2023-03-01 00:00:00 to 2023-06-02 23:00:00
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    2256 non-null   float64
 1   dwpt    2256 non-null   float64
 2   rhum    2256 non-null   float64
 3   prcp    2256 non-null   float64
 4   snow    0 non-null      float64
 5   wdir    2256 non-null   float64
 6   wspd    2256 non-null   float64
 7   wpgt    0 non-null      float64
 8   pres    2256 non-null   float64
 9   tsun    0 non-null      float64
 10  coco    2256 non-null   category
dtypes: category(1), float64(10)
memory usage: 196.4 KB

In [28]:
local_copy.to_csv("../data/cassi_weather.csv")